.footer-app {
  background-color: #212529;
  border-top: 1px solid #222;
}

/* Efecto para los enlaces de texto */
.nav-link-hover {
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  display: inline-block;
}

.nav-link-hover:hover {
  opacity: 0.7;
  transform: translateY(-1px);
}

/* Estilo para los iconos de Redes Sociales */
.social-icon-link {
  color: #ffffff !important; /* Blanco puro */
  background-color: rgba(
    255,
    255,
    255,
    0.05
  ); /* Círculo de fondo casi invisible */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.social-icon-link:hover {
  background-color: rgba(255, 255, 255, 0.15); /* Se ilumina el círculo */
  transform: scale(1.1);
  color: #ffffff !important;
}

/* Evitar subrayados azules en todos los links del footer */
footer a {
  text-decoration: none !important;
}
